USE [DuHoc]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 15/05/2022 22:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/05/2022 22:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Url] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ShowHome] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonCategory]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Url] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ShowHome] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CommonCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[DOB] [datetime] NULL,
	[Avatar] [nvarchar](250) NULL,
	[Gender] [int] NULL,
	[Status] [int] NULL,
	[CreateDate] [datetime] NULL,
	[EditDate] [datetime] NULL,
	[SchoolId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
	[Name] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [int] NULL,
	[Email] [varchar](250) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[CategoryId] [int] NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[IsNew] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EditDate] [datetime] NULL,
	[Url] [nvarchar](250) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[CategoryId] [int] NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[IsNew] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EditDate] [datetime] NULL,
	[Url] [nvarchar](250) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[CategoryId] [int] NOT NULL,
	[Image] [nvarchar](500) NULL,
	[SortDescription] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[IsNew] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[EditDate] [datetime] NULL,
	[Url] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[AddressId] [int] NULL,
	[AddressDetail] [nvarchar](4000) NULL,
	[ViewCount] [int] NULL,
	[RankId] [int] NULL,
 CONSTRAINT [PK_School] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolImage]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NULL,
	[Path] [nvarchar](500) NULL,
 CONSTRAINT [PK_SchoolImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 15/05/2022 22:26:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Url] [nvarchar](500) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220311030203_initDb', N'3.1.23')
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Id], [Name], [Description]) VALUES (1, N'Nhật Bản', N'Nhật Bản')
INSERT [dbo].[Address] ([Id], [Name], [Description]) VALUES (2, N'Hàn Quốc', N'Hàn Quốc')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'630a4bea-2ceb-46ab-b26d-0854287bf13c', N'admin', N'ADMIN', N'admin@gmail.com', N'admin@gmail.com', 1, N'AQAAAAEAACcQAAAAEDVVxU5cqemmkrHx2w7DXR3pSfWcVsm9I0MO+ykCl7NAcXhhfP7Hl5wgaTkSJP85uA==', N'UQUDWAPTGCCH6GAA3ZT6CXR4RKDQA6BX', N'74342c66-d5f1-4ad7-b80c-1df22c2d1c9f', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [ParentId], [Description], [Url], [DisplayOrder], [CreateDate], [ShowHome], [Status]) VALUES (2, N'Trường đại học Nhật Bản', NULL, N'Trường đại học Nhật Bản', N'truong-dai-hoc-nhat-ban', 3, CAST(N'2022-03-11T14:18:10.560' AS DateTime), 1, 1)
INSERT [dbo].[Category] ([Id], [Name], [ParentId], [Description], [Url], [DisplayOrder], [CreateDate], [ShowHome], [Status]) VALUES (1002, N'Trường đại học Hàn Quốc', NULL, N'Trường đại học Hàn Quốc', N'truong-dai-hoc-han-quoc', 2, CAST(N'2022-05-08T14:21:50.803' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CommonCategory] ON 

INSERT [dbo].[CommonCategory] ([Id], [Name], [ParentId], [Description], [Url], [DisplayOrder], [CreateDate], [ShowHome], [Status]) VALUES (1, N'Tin tức VJ', NULL, N'Tin tức VJ', N'tin-tuc-vj', 1, NULL, NULL, 1)
INSERT [dbo].[CommonCategory] ([Id], [Name], [ParentId], [Description], [Url], [DisplayOrder], [CreateDate], [ShowHome], [Status]) VALUES (2, N'Tin tức du học', NULL, N'Tin tức du học', N'tin-tuc-du-hoc', 2, NULL, NULL, 1)
INSERT [dbo].[CommonCategory] ([Id], [Name], [ParentId], [Description], [Url], [DisplayOrder], [CreateDate], [ShowHome], [Status]) VALUES (1002, N'Du học Hàn Quốc', 2, N'DU HỌC HÀN QUỐC', N'du-hoc-han-quoc', NULL, CAST(N'2022-05-08T16:44:19.643' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[CommonCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Name], [CategoryId], [Image], [Description], [Detail], [IsNew], [CreateDate], [EditDate], [Url], [DisplayOrder], [Status]) VALUES (3, N'DU HỌC NHẬT BẢN VỪA HỌC VỪA LÀM: NHỮNG ĐIỀU ĐƯỢC VÀ MẤT', 1003, N'/uploads/92062a3e-232d-4b9f-98cc-8034e13a5396.jpg', N'❗❗Du học Nhật Bản vừa học vừa làm có thể kiếm 45 triệu/tháng?

❗❗Thu nhập của du học sinh Nhật vừa học vừa làm có thực sự cao như mọi người vẫn thường nói?

❗❗Vừa học vừa làm tại Nhật Bản được gì và mất gì?', N'<p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="❗" src="https://s.w.org/images/core/emoji/13.1.0/svg/2757.svg" style="font-size: 1rem; max-width: 100%; margin: 10px 0px; background: none !important; vertical-align: -0.1em !important; border-width: initial !important; border-color: initial !important; border-image: initial !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; padding: 0px !important;"><img draggable="false" role="img" class="emoji" alt="❗" src="https://s.w.org/images/core/emoji/13.1.0/svg/2757.svg" style="font-size: 1rem; max-width: 100%; margin: 10px 0px; background: none !important; vertical-align: -0.1em !important; border-width: initial !important; border-color: initial !important; border-image: initial !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; padding: 0px !important;">Du học Nhật Bản vừa học vừa làm có thể kiếm 45 triệu/tháng?</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="❗" src="https://s.w.org/images/core/emoji/13.1.0/svg/2757.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><img draggable="false" role="img" class="emoji" alt="❗" src="https://s.w.org/images/core/emoji/13.1.0/svg/2757.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Thu nhập của du học sinh Nhật vừa học vừa làm có thực sự cao như mọi người vẫn thường nói?</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="❗" src="https://s.w.org/images/core/emoji/13.1.0/svg/2757.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><img draggable="false" role="img" class="emoji" alt="❗" src="https://s.w.org/images/core/emoji/13.1.0/svg/2757.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Vừa học vừa làm tại Nhật Bản được gì và mất gì?</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Nếu các bạn học sinh hay các vị phụ huynh đang có ý định cho con em du học Nhật Bản theo hướng vừa học vừa làm. Hãy theo dõi những nội dung mà VJ cung cấp sau đây để biết thực chất&nbsp;<span style="font-weight: 700;">du học Nhật Bản vừa học vừa làm</span>&nbsp;là gì.</p><div id="attachment_609" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-609" class="wp-image-609 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam.jpg" alt="Du học Nhật Bản vừa học vừa làm có dễ như lời đồn?" width="800" height="400" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-300x150.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-768x384.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-609" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">Du học Nhật Bản vừa học vừa làm có dễ như lời đồn?</p></div><div id="toc_container" class="toc_light_blue no_bullets" style="font-size: 13.3px; background: rgb(237, 246, 255); border: 1px solid rgb(170, 170, 170); padding: 10px; margin-bottom: 1em; width: auto; display: table; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif;"><p class="toc_title" style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; max-width: 100%; text-align: center; font-weight: 700; padding: 0px; height: auto !important;">Contents&nbsp;<span class="toc_toggle" style="font-weight: 400; font-size: 11.97px;">[<a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;">hide</a>]</span></p><ul class="toc_list" style="overflow-wrap: break-word; margin: 1em 0px 0px; list-style: none; padding: 0px; margin-block-start: 1em; background: 0px 0px;"><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Ban_Chat_Cua_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">1</span>&nbsp;Bản Chất Của Du Học Nhật Bản Vừa Học Vừa Làm</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Du_Hoc_Sinh_Nhat_Co_The_Kiem_45_TrieuThang" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">2</span>&nbsp;Du Học Sinh Nhật Có Thể Kiếm 45 Triệu/Tháng?</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Meo_San_Viec_Lam_Them_Tai_Nhat" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">3</span>&nbsp;Mẹo Săn Việc Làm Thêm Tại Nhật</a><ul style="overflow-wrap: break-word; margin-right: 0px; margin-left: 1.5em; list-style: none; padding: 0px; margin-block: 1em; background: 0px 0px;"><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Qua_gioi_thieu_cua_nguoi_quen" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">3.1</span>&nbsp;️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Qua giới thiệu của người quen</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Tim_viec_thong_qua_gioi_thieu_cua_nha_truong" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">3.2</span>&nbsp;️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Tìm việc thông qua giới thiệu của nhà trường</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Van_phong_viec_lam_tai_dia_phuong" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">3.3</span>&nbsp;️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Văn phòng việc làm tại địa phương</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Cac_website_tuyen_dung" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">3.4</span>&nbsp;️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Các website tuyển dụng</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Thong_qua_van_phong_tuyen_dung_cua_Chinh_phu_Nhat" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">3.5</span>&nbsp;️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Thông qua văn phòng tuyển dụng của Chính phủ Nhật</a></li></ul></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Mot_So_Cong_Viec_Lam_Them_Khi_Du_Hoc_Nhat_Ban" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">4</span>&nbsp;Một Số Công Việc Làm Thêm Khi Du Học Nhật Bản</a><ul style="overflow-wrap: break-word; margin-right: 0px; margin-left: 1.5em; list-style: none; padding: 0px; margin-block: 1em; background: 0px 0px;"><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Thu_ngan_ban_hang_tai_sieu_thi" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.1</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Thu ngân bán hàng tại siêu thị</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Phat_bao_tai_cac_tiem_bao" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.2</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Phát báo tại các tiệm báo</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Lam_them_tai_cac_quan_an" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.3</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm thêm tại các quán ăn</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Lam_them_tai_khach_san" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.4</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm thêm tại khách sạn</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Lam_phu_bep_tai_nha_hang" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.5</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm phụ bếp tại nhà hàng</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Dong_goi_thuc_pham" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.6</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Đóng gói thực phẩm</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Lam_them_tai_cac_quan_an_nhanh" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">4.7</span>&nbsp;<img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm thêm tại các quán ăn nhanh</a></li></ul></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Mot_So_Luu_Y_Cho_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">5</span>&nbsp;Một Số Lưu Ý Cho Du Học Nhật Bản Vừa Học Vừa Làm</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Nhung_Dieu_Duoc_Va_Mat_Khi_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">6</span>&nbsp;Những Điều Được Và Mất Khi Du Học Nhật Bản Vừa Học Vừa Làm</a><ul style="overflow-wrap: break-word; margin-right: 0px; margin-left: 1.5em; list-style: none; padding: 0px; margin-block: 1em; background: 0px 0px;"><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Nhung_kho_khan_khi_di_du_hoc_Nhat_Ban_vua_hoc_vua_lam" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">6.1</span>&nbsp;Những khó khăn khi đi du học Nhật Bản vừa học vừa làm</a></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Mat_tich_cuc_khi_di_du_hoc_Nhat_vua_hoc_vua_lam" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_2">6.2</span>&nbsp;Mặt tích cực khi đi du học Nhật vừa học vừa làm</a></li></ul></li><li style="margin: 0px; padding: 0px; background: 0px 0px; list-style: none;"><a href="https://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/#Ho_Tro_Tu_Van_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam_Mien_Phi" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s; text-shadow: none;"><span class="toc_number toc_depth_1">7</span>&nbsp;Hỗ Trợ Tư Vấn Du Học Nhật Bản Vừa Học Vừa Làm Miễn Phí</a></li></ul></div><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Ban_Chat_Cua_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Bản Chất Của Du Học Nhật Bản Vừa Học Vừa Làm</span></span></span></h2><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Không ít các độc giả ở đây đã từng nhầm tưởng rằng du học Nhật Bản vừa học vừa làm là một hình thức của xuất khẩu lao động. Thông qua đó sinh viên sẽ vừa được học theo lộ trình học tập của trường đại học, vừa được lo chỗ làm thêm.&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Thực chất, du học Nhật vừa học vừa làm không phải là một hình thức XKLĐ. Cũng không có bất cứ trường đại học nào ở Nhật Bản có trách nhiệm sắp xếp chỗ làm thêm cho du học sinh để trang trải kinh phí. Đây hoàn toàn dựa vào thời gian cho phép và khả năng của bạn.&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Hiện tại với chương trình du học vừa làm, du học sinh tại Nhật Bản có thể làm thêm 28 giờ/tuần. Hầu hết các bạn du học sinh đều tận dụng tối đa khoảng thời gian này. Ngoài số giờ quy định, du học sinh cũng có thể làm thêm giờ để kiếm thêm tiền. Với hình thức&nbsp;<span style="font-weight: 700;"><a href="http://vjvietnam.com.vn/du-hoc-nhat-ban-vua-hoc-vua-lam/" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s;">du học Nhật Bản vừa học vừa làm</a>,</span>&nbsp;các bạn đồng thời có cả bằng cấp lẫn thu nhập. Bạn vừa có thể hoàn thành được chương trình học theo nhà trường. Vừa có thể kiếm thêm chi phí để trang trải quãng thời gian theo học tại đây. Thậm chí với những bạn chăm chỉ thì việc có khoản dư gửi về nhà là điều hoàn toàn có thể.&nbsp;</p><blockquote style="padding: 10px 20px; margin-bottom: 20px; border-left: 5px solid rgb(238, 238, 238); color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif;"><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; max-width: 100%; text-align: justify; height: auto !important;"><span style="font-weight: 700;">&gt;&gt;&gt;&nbsp;<a href="http://vjvietnam.com.vn/chi-phi-du-hoc-nhat-ban/" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s;">Chi phí đi du học Nhật bản vừa học vừa làm là bao nhiêu?</a></span></p></blockquote><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Du_Hoc_Sinh_Nhat_Co_The_Kiem_45_TrieuThang"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Du Học Sinh Nhật Có Thể Kiếm 45 Triệu/Tháng?</span></span></span></h2><div id="attachment_605" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-605" loading="lazy" class="wp-image-605 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/chi-phi-du-hoc-nhat-ban-4.jpg" alt="Bạn có thể kiếm khoảng 70 triệu/tháng sau mỗi kỳ nghỉ" width="800" height="417" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/chi-phi-du-hoc-nhat-ban-4.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/chi-phi-du-hoc-nhat-ban-4-300x156.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/chi-phi-du-hoc-nhat-ban-4-768x400.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-605" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">Bạn có thể kiếm khoảng 70 triệu/tháng sau mỗi kỳ nghỉ</p></div><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Ở Nhật bản, mức lương mà bạn có thể kiếm từ công việc làm thêm khá hấp dẫn. Lương làm thêm tại đây được tính theo giờ. Bạn có thể tham khảo mức lương trung bình ở một số khu vực:</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="💲" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f4b2.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><img draggable="false" role="img" class="emoji" alt="💲" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f4b2.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Khu vực Kobe: 750 – 1000 Yên/giờ</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="💲" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f4b2.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><img draggable="false" role="img" class="emoji" alt="💲" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f4b2.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Khu vực Fukuoka: 650 – 900 Yên/giờ</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="💲" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f4b2.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><img draggable="false" role="img" class="emoji" alt="💲" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f4b2.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Khu vực Tokyo: 800 – 1200 Yên/giờ</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Tuy nhiên để đảm bảo cho việc học, Chính phủ Nhật bản không khuyến khích sinh viên làm thêm quá nhiều.</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Mức lương công việc của bạn còn phụ thuộc vào khoảng cách của nơi bạn làm việc với trung tâm thành phố. Nhìn chung, mức lương làm thêm tại Nhật bản khá cao nếu bạn thực sự chăm chỉ và nghiêm túc. Một số học viên của VJ tại Nhật chia sẻ rằng, nếu bạn làm việc chăm chỉ và tiết kiệm thì bạn có thể kiếm&nbsp;<span style="color: rgb(0, 128, 0);">khoảng 70 triệu/tháng</span>&nbsp;sau mỗi kỳ nghỉ.&nbsp;</p><blockquote style="padding: 10px 20px; margin-bottom: 20px; border-left: 5px solid rgb(238, 238, 238); color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif;"><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; max-width: 100%; text-align: justify; height: auto !important;"><span style="color: rgb(0, 128, 0);"><span style="font-weight: 700;"><i>Người Nhật rất coi trọng chữ tín, sẽ có lợi hơn rất nhiều khi bạn được người quen giới thiệu công việc cho</i></span></span></p></blockquote><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Meo_San_Viec_Lam_Them_Tai_Nhat"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Mẹo Săn Việc Làm Thêm Tại Nhật</span></span></span></h2><div id="attachment_611" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-611" loading="lazy" class="wp-image-611 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-2.jpg" alt="Mẹo săn việc làm thêm tại Nhật nhanh nhất" width="800" height="393" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-2.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-2-300x147.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-2-768x377.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-611" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">Mẹo săn việc làm thêm tại Nhật nhanh nhất</p></div><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Qua_gioi_thieu_cua_nguoi_quen"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Qua giới thiệu của người quen</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Như đã đề cập, người Nhật rất coi trọng chữ tín. Vì vậy bạn có thể nắm chắc được 80% công việc làm thêm đó nếu có người quen giới thiệu. Bạn cũng có thể tim kiếm việc làm thêm thông qua lời giới thiệu của các sinh viên khóa trên. Công đồng học viên của VJ có mặt ở khắp các khu vực tại Nhật bản, luôn sẵn sàng giúp đỡ bạn trong quá trình sinh sống tại đất nước này.&nbsp;</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Tim_viec_thong_qua_gioi_thieu_cua_nha_truong"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Tìm việc thông qua giới thiệu của nhà trường</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Đây cũng là một phương pháp khá phổ biến. Tuy nhiên bạn phải thường xuyên theo dõi và cập nhật thông tin qua trung tâm giới thiệu việc làm cho du học sinh. Sau đó có thể đăng ký việc làm và tìm kiếm thông tin qua các trang web.</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Van_phong_viec_lam_tai_dia_phuong"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Văn phòng việc làm tại địa phương</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Mặc dù dành cho đối tượng là người Nhật, nhưng họ cũng giới thiệu việc làm cho cả những sinh viên nước ngoài.</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Cac_website_tuyen_dung"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Các website tuyển dụng</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Nếu như ở Việt Nam bạn có thể tìm kiếm việc làm qua các website tuyển dụng thì ở Nhật cũng vậy. Một số website tuyển dụng phổ biến ở Nhật như:&nbsp;<a href="https://gaijinpot.com/" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s;">Gaijinpot</a>,&nbsp;<a href="https://jobs.guidable.co/en" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s;">Guidable Jobs</a>,…Để tìm việc trên các website này, bạn cần có tài khoản và một bản CV (sơ yếu lý lịch) xin việc hoàn chỉnh.&nbsp;</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Thong_qua_van_phong_tuyen_dung_cua_Chinh_phu_Nhat"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">️<img draggable="false" role="img" class="emoji" alt="🎯" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f3af.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Thông qua văn phòng tuyển dụng của Chính phủ Nhật</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Nếu bạn không muốn mất phí môi giới hay tốn nhiều thời gian cho tìm kiếm việc làm. Bạn hoàn toàn có thể đến văn phòng tuyển dụng của Chính phủ để điền thông tin, đánh số thứ tự và chờ đến lượt đăng ký. Dựa theo kỹ năng và kinh nghiệm của bạn, họ sẽ hỗ trợ bạn tìm được công việc phù hợp.</p><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Mot_So_Cong_Viec_Lam_Them_Khi_Du_Hoc_Nhat_Ban"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Một Số Công Việc Làm Thêm Khi Du Học Nhật Bản</span></span></span></h2><div id="attachment_614" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-614" loading="lazy" class="wp-image-614 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-5.jpg" alt="Một số công việc làm thêm phổ biến cho DHS Nhật" width="800" height="417" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-5.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-5-300x156.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-5-768x400.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-614" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">Một số công việc làm thêm phổ biến cho DHS Nhật</p></div><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Thu_ngan_ban_hang_tai_sieu_thi"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Thu ngân bán hàng tại siêu thị</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Công việc này đòi hỏi bạn phải biết thu ngân, bày biện sản phẩm và phải biết tiếng Nhật để chào hỏi khách và tính tiền. Nếu tiếng Nhật của bạn ở mức trung bình khá thì đây là công việc nhẹ nhàng và có mức thu nhập từ&nbsp;<span style="color: rgb(0, 128, 0);">900 – 1000 Yên/giờ</span>.</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Phat_bao_tai_cac_tiem_bao"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Phát báo tại các tiệm báo</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Đối với công việc này, mỗi tháng bạn có thể kiếm từ&nbsp;<span style="color: rgb(0, 128, 0);">100.000 – 120.000 Yên/tháng</span>. Tuy nhiên bạn cần làm 2 ca từ 1,2 giờ sáng cho đến 5,7 giờ sáng và buổi chiều các ngày trong tuần. Mặc dù lương trương đối cao nhưng công việc này sẽ khá vất vả vì các bạn phải đi học vào 9 giờ sáng.&nbsp;</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Lam_them_tai_cac_quan_an"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm thêm tại các quán ăn</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Thông thường sẽ là những việc như rửa chén và không cần trình độ tiếng Nhật. Tuy nhiên mức thu nhập từ công việc này tương đối thấp và có những công việc cực nhọc. Vì vậy công việc này sẽ phù hợp với các bạn du học sinh mới sang cần hòa nhịp với môi trường tại đây.&nbsp;</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Lam_them_tai_khach_san"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm thêm tại khách sạn</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Đây sẽ là công việc phù hợp với các bạn du học sinh ở thành phố lớn như Osaka, Kyoto, Tokyo,… Đương nhiên đối với các công việc có liên quan đến khách hàng thì bạn cần có vốn tiếng Nhật tốt để giao tiếp với họ. Công việc này đòi hỏi rất cao nhưng bạn cũng có thể nhận mức lương tương xứng với khả năng của mình khoảng&nbsp;<span style="color: rgb(0, 128, 0);">950 – 1100 Yên/giờ</span>.&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; height: auto !important;"><img loading="lazy" class="aligncenter wp-image-615 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-6.jpg" alt="" width="800" height="469" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-6.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-6-300x176.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-6-768x450.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="max-width: 100%; border: 0px; clear: both; display: block; margin: 10px 0px; height: auto !important;"></p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Lam_phu_bep_tai_nha_hang"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm phụ bếp tại nhà hàng</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Không chỉ đòi hỏi kiến thức về tiếng Nhật, công việc này còn đòi hỏi bạn phải có kỹ năng nấu nướng. Đặc biệt với những quán ăn cung cấp các nguyên liệu chế biến và có công thức sẵn như cơm hộp Saboten, sukiya, Matsuya,…Còn ở những quán ăn khác thì thường sẽ có người hướng dẫn cho bạn.&nbsp;</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Dong_goi_thuc_pham"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Đóng gói thực phẩm</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Những công việc như đóng gói thực phẩm, cơm hộp, đóng gói các sản phẩm trong các nhà máy,…. thường xin được việc khá dễ tuy nhiên lại hơi bận và xa trung tâm thành phố. Công việc này không đòi hỏi quá cao về bất cứ yêu cầu nào nhưng lại có mức lương khá cao. Trung bình thu nhập của công việc đóng gói thực phẩm sẽ dao động từ&nbsp;<span style="color: rgb(0, 128, 0);">900 đến 1000 Yên/giờ</span>.&nbsp;</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Lam_them_tai_cac_quan_an_nhanh"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;"><img draggable="false" role="img" class="emoji" alt="🔰" src="https://s.w.org/images/core/emoji/13.1.0/svg/1f530.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Làm thêm tại các quán ăn nhanh</span></span></span></h3><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Làm thêm tại nhà hàng thức ăn nhanh – McDonald’s. Các bạn du học sinh có thể ứng tuyển làm việc ở đây với nhiều vị trí khác nhau như: nhân viên chế biến hoặc sơ chế thức ăn. Đối với công việc đón khách và thu ngân thì bạn cần biết tiếng Nhật tương đối tốt. Mức lương thu nhập khoảng&nbsp;<span style="color: rgb(0, 128, 0);">1000 yên/giờ</span>&nbsp;(12-13 man/tháng).</p><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Mot_So_Luu_Y_Cho_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Một Số Lưu Ý Cho Du Học Nhật Bản Vừa Học Vừa Làm</span></span></span></h2><div id="attachment_610" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-610" loading="lazy" class="wp-image-610 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-1.jpg" alt="sinh viên bậc đại học có thể đi làm thêm tối đa 28 giờ/tuần" width="800" height="366" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-1.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-1-300x137.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-1-768x351.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-610" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">sinh viên bậc đại học có thể đi làm thêm tối đa 28 giờ/tuần</p></div><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="font-weight: 700;">Luôn yêu cầu bên tuyển dụng ghi rõ điều kiện việc làm</span></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Tại Nhật, các du học sinh khi làm thêm sẽ không có hợp đồng trong lao động. Để chắc chắn, bạn nên yêu cầu bên thuê ghi rõ các điều kiện về việc làm như: lương, giờ làm việc, cách chi trả, các khoản thưởng và những đãi ngộ khác.&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="font-weight: 700;">Luôn có lý do cho những trường hợp đi làm muộn hay nghỉ làm</span></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Người Nhật nổi tiếng về việc đúng giờ và sự nghiêm túc trong công việc. Các bạn nên quan sát và học hỏi cách làm việc từ những đồng nghiệp xung quanh.&nbsp;&nbsp;&nbsp;&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="font-weight: 700;">Quy định về thời gian làm thêm</span></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Theo quy định của Nhật, các sinh viên bậc đại học có thể đi làm thêm tối đa 28 giờ/tuần. Với các nghiên cứu sinh và sinh viên dự thính là 14 giờ/tuần; sinh viên dự bị đại học làm việc tối đa 4 giờ/ngày.&nbsp;&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="font-weight: 700;">Nghĩa vụ nộp thuế</span></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Khi đi du học Nhật Bản vừa học vừa làm, các bạn du học sinh có thể bị trừ phí thuế từ thu nhập của mình. Phía bên thuê người sẽ trích một phần thuế từ thu nhập rồi đóng thay và báo cho bạn biết. Với những du học sinh là nhiều công việc có thể nhận được nhiều giấy báo trong một năm. Tuy nhiên, phí nộp thuế thu nhập cuối cùng sẽ được tính trong năm đó bằng cách tính trên tổng thu nhập của học viên thường thấp hơn tổng số tiền học viên đã đóng.</p><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Nhung_Dieu_Duoc_Va_Mat_Khi_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Những Điều Được Và Mất Khi Du Học Nhật Bản Vừa Học Vừa Làm</span></span></span></h2><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Nhung_kho_khan_khi_di_du_hoc_Nhat_Ban_vua_hoc_vua_lam"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">Những khó khăn khi đi du học Nhật Bản vừa học vừa làm</span></span></span></h3><div id="attachment_612" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-612" loading="lazy" class="wp-image-612 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-3.jpg" alt="Mất quá nhiều thời gian cho việc làm thêm" width="800" height="419" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-3.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-3-300x157.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-3-768x402.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-612" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">Mất quá nhiều thời gian cho việc làm thêm</p></div><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Khó khăn đầu tiên chính là việc bạn phải&nbsp;<span style="font-weight: 700;">xa gia đình, người thân, bạn bè</span>&nbsp;để đến một môi trường mới. Vì vậy, trong khoảng thời gian đầu bạn sẽ cảm thấy khó khăn vì nhớ nhà và cảm thấy cô đơn.</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Thứ hai là&nbsp;<span style="font-weight: 700;">rào cản về ngôn ngữ</span>. Thời gian đầu bạn sẽ chưa quen với việc sử dụng tiếng Nhật thường xuyên nên khó có thể hòa nhập với cuộc sống ở đây.&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><span style="font-weight: 700;">Không có nhiều thời gian rảnh rỗi</span>. Đa số các bạn du học sinh khi sang đến Nhật Bản đều có mong muốn nhanh chóng kiếm tiền để hoàn lại phần chi phí khi đi. Nhiều bạn sau khi kết thúc chương trình học trên trường lại phải nhanh chóng đến cho làm thêm cho kịp giờ. Tuy nhiên bạn có thể giảm bớt được gánh nặng này thông qua việc xin học bổng du học. Bạn có thể tham khảo thêm qua bài viết&nbsp;<a href="http://vjvietnam.com.vn/dieu-kien-xin-hoc-bong-du-hoc-nhat-ban/" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s;"><span style="font-weight: 700;">Điều kiện xin học bổng du học Nhật Bản</span></a>&nbsp;của VJ.</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;"><span style="font-weight: 700;">Luôn phải nhẫn nhịn</span>. Vì họ là chủ, còn mình là người làm thuê. Đôi khi bạn sẽ bất đồng về ngôn ngữ, văn hóa hay tác phong làm việc; hay có nhiều sự cạnh tranh nên bạn phải chịu khá nhiều ấm ức.</p><h3 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 27px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: justify;"><span id="Mat_tich_cuc_khi_di_du_hoc_Nhat_vua_hoc_vua_lam"><span style="color: rgb(51, 102, 255);"><span style="font-weight: 700;">Mặt tích cực khi đi du học Nhật vừa học vừa làm</span></span></span></h3><div id="attachment_613" class="wp-caption aligncenter" style="clear: both; padding: 9px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; width: 810px; margin-left: auto !important; margin-right: auto !important;"><img aria-describedby="caption-attachment-613" loading="lazy" class="wp-image-613 size-full" src="http://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-4.jpg" alt="Vừa học vừa làm giúp sinh viên có thể tích lũy được nhiều kinh nghiệm" width="800" height="624" srcset="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-4.jpg 800w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-4-300x234.jpg 300w, https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vua-hoc-vua-lam-4-768x599.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" style="height: auto; max-width: 100%; border: 0px; margin: 0px auto; display: block;"><p id="caption-attachment-613" class="wp-caption-text" style="overflow-wrap: break-word; margin: 5px 0px 10px; text-align: center; font-style: italic; max-width: 100%; height: auto !important;">Vừa học vừa làm giúp sinh viên có thể tích lũy được nhiều kinh nghiệm</p></div><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Bên cạnh những khó khăn vất vả đó thì chúng ta cũng nhìn vào những mặt tích cực của vừa học, vừa làm như sau:</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Điều đầu tiên là bạn có thể kiếm được khoản chi phí đủ để chi trả cho các khoản chi phí du học tại Nhật Bản. Thậm chí, nếu bạn là người chăm chỉ thì thu nhập từ việc làm thêm của bạn không phải là một con số nhỏ.&nbsp;</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Vừa học vừa làm sẽ giúp bạn tiếp thu được ngôn ngữ và văn hóa ở đây nhanh hơn. Khi đã có khả năng về giao tiếp và các mối quan hệ xã hội thì tìm được việc làm phù hợp không phải là việc khó khăn gì.</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Kinh nghiệm làm thêm trong quá trình du học cũng là điểm cộng rất lớn cho bạn khi ra trường. Điều này cũng là cơ hội để bạn định cư tại Nhật vô thời hạn nếu bạn được các công ty Nhật mời về làm việc.</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><img draggable="false" role="img" class="emoji" alt="▶️" src="https://s.w.org/images/core/emoji/13.1.0/svg/25b6.svg" style="max-width: 100%; margin: 10px 0px; border-width: initial !important; border-color: initial !important; border-image: initial !important; vertical-align: -0.1em !important; display: inline !important; box-shadow: none !important; height: auto !important; width: 1em !important; background: none !important; padding: 0px !important;">Rèn luyện được tính tự lập, tình thân học hỏi và đặc biệt là tác phong làm việc đáng ngưỡng mộ của người Nhật.</p><h2 style="overflow-wrap: break-word; font-family: &quot;Roboto Slab&quot;, sans-serif; line-height: 30px; color: rgb(51, 51, 51); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-align: justify;"><span id="Ho_Tro_Tu_Van_Du_Hoc_Nhat_Ban_Vua_Hoc_Vua_Lam_Mien_Phi"><span style="color: rgb(51, 51, 153);"><span style="font-weight: 700;">Hỗ Trợ Tư Vấn Du Học Nhật Bản Vừa Học Vừa Làm Miễn Phí</span></span></span></h2><div class="wrap_table" style="overflow-x: scroll; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif;"><table style="border-spacing: 0px; background-color: transparent; max-width: 100%; width: 857.5px; margin-bottom: 10px; height: auto !important;"><tbody><tr><td style="padding: 5px 8px; border: 1px solid rgb(221, 221, 221); text-align: center;">Ước mơ mà không kèm theo hành động thì dù hy vong có cánh cũng không bao giờ bay tới đích<p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; height: auto !important;"></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; height: auto !important;">Đăng ký để được VJ tư vấn du học Nhật bản vừa học vừa làm miễn phí nhé!!!</p></td></tr><tr style="background-color: rgb(242, 242, 242);"><td style="padding: 5px 8px; border: 1px solid rgb(221, 221, 221); text-align: center;"><a href="http://vjvietnam.com.vn/lien-he/" style="color: rgb(51, 122, 183); transition: all 0.3s ease-in-out 0s;"><span style="font-weight: 700;">ĐĂNG KÝ NGAY</span></a></td></tr></tbody></table></div><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><i>VJ là trung tâm chuyên về du học Nhật Bản có trụ sở tại Hà Nội. Với hơn 8 năm kinh nghiệm trong lĩnh vực tư vấn du học Nhật Bản, VJ là một trong những trung tâm du học Nhật Bản uy tín nhất hiện nay. Gần như tất cả thông tin du học VJ đều có thể giải đáp và cung cấp đến học viên và phụ huynh. Bất kỳ thắc mắc về điều kiện du học Nhật Bản, trường đại học Nhật Bản, chi phí du học Nhật Bản, học bổng du học Nhật Bản… đều được đội ngũ VJ tư vấn một cách tận tình. Liên hệ ngay với VJ để được giải đáp mọi thông tin một cách&nbsp;</i><span style="font-weight: 700;"><i>ĐẦY ĐỦ</i></span><i>,&nbsp;</i><span style="font-weight: 700;"><i>CHÍNH XÁC</i></span><i>&nbsp;và&nbsp;</i><span style="font-weight: 700;"><i>MIỄN PHÍ</i></span><i>.&nbsp;</i></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;">Mọi thông tin chi tiết xin vui lòng liên hệ:</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="color: rgb(0, 0, 255);"><span style="font-weight: 700;">CÔNG TY CỔ PHẦN TƯ VẤN DU HỌC VÀ THƯƠNG MẠI VJ</span></span></p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="font-weight: 700;">Địa chỉ:</span>&nbsp;Nhà T4-BT1-L4, Đường Trung Văn Phường Trung Văn, Quận Nam Từ Liêm, Thành phố Hà Nội</p><p style="overflow-wrap: break-word; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; max-width: 100%; color: rgb(51, 51, 51); font-family: &quot;Roboto Slab&quot;, sans-serif; text-align: justify; height: auto !important;"><span style="font-weight: 700;">Hotline:</span>&nbsp;092.405.2222</p>', 1, CAST(N'2022-05-08T16:52:26.207' AS DateTime), NULL, N'du-hoc-nhat-ban-vua-hoc-vua-lam-nhung-dieu-duoc-va-mat', NULL, 1)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([Id], [Name], [CategoryId], [Image], [Description], [Detail], [IsNew], [CreateDate], [EditDate], [Url], [DisplayOrder], [Status]) VALUES (1, N'Lập trình Front-end cơ bản 5', 2, N'/uploads/fd76ce7b-cf36-439d-802e-367a85b2cf82.jpg', N'ko', N'<p>ko</p>', 0, CAST(N'2022-03-11T16:07:44.693' AS DateTime), CAST(N'2022-05-09T22:25:14.163' AS DateTime), N'lap-trinh-front-end-co-ban-5', 3, 1)
INSERT [dbo].[Question] ([Id], [Name], [CategoryId], [Image], [Description], [Detail], [IsNew], [CreateDate], [EditDate], [Url], [DisplayOrder], [Status]) VALUES (2, N'Học Viện Công Nghệ Quốc Gia Kumoh – Nơi Cung Cấp Các Kỹ Sư Hàng Đầu', 1002, N'/uploads/272f1235-0ece-4803-aca1-4ab469da8ccd.jpg', N'Học Viện Công Nghệ Quốc Gia Kumoh – Nơi Cung Cấp Các Kỹ Sư Hàng Đầu', N'<p>Học Viện Công Nghệ Quốc Gia Kumoh – Nơi Cung Cấp Các Kỹ Sư Hàng Đầu<br></p>', 1, CAST(N'2022-05-09T22:25:52.633' AS DateTime), NULL, N'hoc-vien-cong-nghe-quoc-gia-kumoh-–-noi-cung-cap-cac-ky-su-hang-dau', NULL, 1)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Rank] ON 

INSERT [dbo].[Rank] ([Id], [Name]) VALUES (1, N'TOP 1')
INSERT [dbo].[Rank] ([Id], [Name]) VALUES (2, N'TOP 2')
INSERT [dbo].[Rank] ([Id], [Name]) VALUES (3, N'TOP 3')
SET IDENTITY_INSERT [dbo].[Rank] OFF
GO
SET IDENTITY_INSERT [dbo].[School] ON 

SET IDENTITY_INSERT [dbo].[School] OFF
GO
SET IDENTITY_INSERT [dbo].[SchoolImage] ON 

INSERT [dbo].[SchoolImage] ([Id], [SchoolId], [Path]) VALUES (3, 1, N'/uploads/99a43829-c2a7-4e07-a316-233faa591b06.jpg')
INSERT [dbo].[SchoolImage] ([Id], [SchoolId], [Path]) VALUES (4, 1, N'/uploads/ff3a6a86-bc88-4b72-aabe-76a7a04f1586.jpg')
INSERT [dbo].[SchoolImage] ([Id], [SchoolId], [Path]) VALUES (5, 1, N'/uploads/10dae23e-03a8-4df1-b614-cba4114eaca0.jpg')
SET IDENTITY_INSERT [dbo].[SchoolImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([Id], [Title], [Description], [Url], [Status]) VALUES (1, N'ddđ', N'<p>đ</p>', N'/uploads/caf592d8-d1f2-4e10-bd9a-d93d780ea501.jpg', 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_CommonCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CommonCategory] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_CommonCategory]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Category]
GO
ALTER TABLE [dbo].[School]  WITH CHECK ADD  CONSTRAINT [FK_School_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[School] CHECK CONSTRAINT [FK_School_Address]
GO
ALTER TABLE [dbo].[School]  WITH CHECK ADD  CONSTRAINT [FK_School_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[School] CHECK CONSTRAINT [FK_School_Category]
GO
ALTER TABLE [dbo].[School]  WITH CHECK ADD  CONSTRAINT [FK_School_Rank] FOREIGN KEY([RankId])
REFERENCES [dbo].[Rank] ([Id])
GO
ALTER TABLE [dbo].[School] CHECK CONSTRAINT [FK_School_Rank]
GO
ALTER TABLE [dbo].[SchoolImage]  WITH CHECK ADD  CONSTRAINT [FK_SchoolImage_School] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[School] ([Id])
GO
ALTER TABLE [dbo].[SchoolImage] CHECK CONSTRAINT [FK_SchoolImage_School]
GO
