@{
    ViewData["Title"] = "Home Page";
}

<div class="beacrum">
    <div class="container">
        <ul class="clearfix bdc_box"><li><a href="https://vjvietnam.com.vn">Trang chủ</a></li> <li class="separator">&rsaquo;</li> <li class="current">Giới Thiệu</li></ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 content_col">
            <h1 class="single-title text-center cus-title"><span>Giới Thiệu Về VJ VIỆT NAM</span></h1>
            <div class="row box_top_gt">
                <div class="col-md-6">
                    <div class="gt_video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nPDGIvdPuGw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="gt_desc">
                        <p style="text-align: justify;">Với hơn 10.000+ học viên đã bay cùng hàng trăm học viên đang theo học, hợp tác với hơn 300+ trường đại học uy tín tại Hàn Quốc và Nhật Bản, <a href="http://vjvietnam.com.vn/gioi-thieu/"><strong>VJ Việt Nam</strong></a> chính là cầu nối giúp các bạn trẻ thực hiện ước mơ du học và phát triển lâu dài tại các nước phát triển hàng dầu.</p>
                        <p style="text-align: justify;">Cùng Slogan “Niềm tin mang theo”, VJ luôn cố gắng mang đến những chương trình du học trọn gói tối ưu nhất, hỗ trợ học viên chọn trường theo đúng nguyện vọng và phù hợp với năng lực của mình.</p>
                        <p style="text-align: justify;">Song song với đó là những trải nghiệm “khác” tuyệt vời giúp các học viên luôn nắm bắt được tình hình du học thực tế, cung cấp cho các bạn học viên những giây phút học tập hiệu quả, thân thiện và thoải mái.</p>
                    </div>
                </div>
            </div>
            <div class="entry_content">
                <h2 style="text-align: justify;"><span style="color: #2980b9;"><strong>CÔNG TY CỔ PHẦN TƯ VẤN DU HỌC VÀ THƯƠNG MẠI VJ (VJ Việt Nam)</strong></span></h2>
                <p style="text-align: justify;"><img src="http://vjvietnam.com.vn/images/gioi-thieu-vjvietnam_1632558926.jpg" alt="Tập thể CBNV công ty VJ Việt Nam" /></p>
                <h2 style="text-align: justify;"><span style="color: #2980b9;"><strong>TẦM NHÌN &amp; SỨ MỆNH</strong></span></h2>
                <h3 style="text-align: justify;"><span style="color: #e74c3c;"><strong>TẦM NHÌN</strong></span></h3>
                <p style="text-align: justify;">“Điểm tựa vững chắc cho các bạn trẻ Việt Nam vươn ra thế giới”</p>
                <p style="text-align: justify;"><strong>Mục tiêu ngắn hạn 2022</strong></p>
                <p style="text-align: justify;">VJ sẽ trở thành thương hiệu cung cấp dịch vụ Tư vấn du học, Đào tạo ngoại ngữ với định hướng đầu ra đáng tin cậy tại Việt Nam.</p>
                <p style="text-align: justify;"><strong>Tầm nhìn dài hạn 2030</strong></p>
                <p style="text-align: justify;">Nằm trong Top 5 thương hiệu cung cấp dịch vụ Đào tạo và Tư vấn du học sang các nước phát triển, mang lại cơ hội phát triển cho hàng triệu người Việt Nam.</p>
                <h3 style="text-align: justify;"><span style="color: #e74c3c;"><strong>SỨ MỆNH</strong></span></h3>
                <p style="text-align: justify;"><em>“Đem tới cho các bạn trẻ môi trường đào tạo và du học phù hợp với bản thân nhất”</em></p>
                <p style="text-align: justify;">▪️ Là cầu nối giáo dục quốc tế giúp các bạn trẻ Việt Nam tiếp cận với các chương trình du học chất lượng và phù hợp tại các trường uy tín tại Hàn Quốc và Nhật Bản.</p>
                <p style="text-align: justify;">▪️ Cung cấp dịch vụ đào tạo chất lượng, đảm bảo học viên đạt mục tiêu đầu ra trong thời gian ngắn nhất. Đồng thời, mang đến cho học viên cơ hội trải nghiệm các Phương pháp học ngoại ngữ tiên tiến nhất, phát triển khả năng tiềm ẩn của bản thân người học.</p>
                <p style="text-align: justify;">▪️ Định hướng tương lai, giải đáp &amp; tư vấn cho các học viên có lựa chọn ngành học phù hợp với sở thích và tiềm năng của bản thân.</p>
                <h2 style="text-align: justify;"><span style="color: #2980b9;"><strong>5 GIÁ TRỊ CỐT LÕI</strong></span></h2>
                <p style="text-align: justify;">“Trách Nhiệm &#8211; Tận Tâm &#8211; Tin Tưởng &#8211; Đổi Mới &#8211; Hiệu Quả”</p>
                <ol style="text-align: justify;">
                    <li><strong>Trách Nhiệm:</strong> Đội ngũ VJ Việt Nam cam kết trách nhiệm với tất cả học viên và làm hết mình vì trách nhiệm.</li>
                    <li><strong>Tận Tâm: </strong>VJ dành tất cả tình cảm hỗ trợ học viên đến cùng, và cùng nhau đạt được mục tiêu.</li>
                    <li><strong>Tin Tưởng: </strong>Tạo niềm tin tuyệt đối với học viên, tin tưởng lãnh đạo, tin tưởng đồng nghiệp.</li>
                    <li><strong>Đổi Mới:</strong> Ứng biến nhanh, phát triển nhanh, cải thiện nhanh, đổi mới để đạt kết quả nhanh.</li>
                    <li><strong>Hiệu Quả:</strong> Nói được làm được, chất lượng dịch vụ và sự hài lòng của khách hàng là thước đo tiêu chuẩn nhất.</li>
                </ol>
                <h2 style="text-align: justify;"><span style="color: #2980b9;"><strong>THÀNH VIÊN VJ VIỆT NAM</strong></span></h2>
                <p style="text-align: justify;">Suốt 8 năm qua, chúng tôi đã cùng xây dựng VJ bằng đam mê và trách nhiệm với lĩnh vực giáo dục &#8211; du học</p>
                <p style="text-align: justify;"><img src="http://vjvietnam.com.vn/images/vj-vi%E1%BB%87t-nam_1632557614.png" alt="vj việt nam" /></p>
                <h2 style="text-align: justify;"><span style="color: #2980b9;"><strong>GIÁ TRỊ &amp; CHẤT LƯỢNG</strong></span></h2>
                <p style="text-align: justify;">VJ luôn tự hào với đội ngũ giảng viên có trình độ chuyên môn cao và giàu kinh nghiệm. Dẫu chặng đường còn nhiều gian nan, đội ngũ VJ vẫn luôn tràn đầy năng lượng, đồng hành cùng các học viên bằng cả tâm huyết và niềm đam mê.</p>
                <h3 style="text-align: justify;"><span style="color: #e74c3c;"><strong>CHẤT LƯỢNG GIÁO VIÊN</strong></span></h3>
                <p style="text-align: justify;">Tại VJ, các giáo viên đều được tuyển chọn từ các trường đại học ngoại ngữ, có nhiều năm kinh nghiệm trên giảng đường, được đào tạo kỹ lưỡng sau khi được tuyển vào VJ. Với phương châm “Không có học sinh kém, chỉ có giáo viên chưa đủ giỏi”, các giáo viên của VJ luôn cố gắng hết sức để mang lại những buổi học thú vị, giúp học viên đạt được mục tiêu nhanh chóng nhất.</p>
                <h3 style="text-align: justify;"><span style="color: #e74c3c;"><strong>LỘ TRÌNH DU HỌC</strong></span></h3>
                <p style="text-align: justify;"><strong>Chặng 1: Bắt đầu bằng việc lựa chọn ngành học</strong></p>
                <p style="text-align: justify;">▪️ Nhận diện và thấu hiểu bản thân: Lập danh sách liệt kê các kết quả học tập; Thực hiện các bài kiểm tra tính cách và khám phá bản thân.</p>
                <p style="text-align: justify;">▪️ Lựa chọn ngành học phù hợp dựa theo các tiêu chí: Sở thích, sở trường; Năng lực bản thân; Hoàn cảnh gia đình; Xu hướng thị trường lao động.</p>
                <p style="text-align: justify;">▪️ Kiểm tra mức độ uy tín của khóa học: Hãy kiểm tra thứ hạng của trường tại bảng xếp hạng quốc gia đó, xem review tại các trang đánh giá uy tín.</p>
                <p style="text-align: justify;"><strong>Chặng 2: Chuẩn bị và “tân trang” hồ sơ</strong></p>
                <p style="text-align: justify;">▪️ Tìm hiểu yêu cầu đầu vào của các trường: Mỗi trường sẽ có những yêu cầu khác nhau về hồ sơ học thuật cũng như chương trình học bổng của các ngành.</p>
                <p style="text-align: justify;">▪️ “Tân trang” hồ sơ: Cải thiện hồ sơ để phù hợp với yêu cầu của các trường và mức học bổng mong muốn.</p>
                <p style="text-align: justify;">▪️ Chuẩn bị CV (Sơ yếu lý lịch), Letter of Reference (Thư giới thiệu), Persona Statement (Thư xin nhập học).</p>
                <p style="text-align: justify;"><strong>Chặng 3: Nộp hồ sơ và chờ kết quả</strong></p>
                <p style="text-align: justify;">Sau khi nhận được Offer letter (Thư xác nhận) từ trường bạn nộp, hãy mau chóng chuẩn bị các hồ sơ apply học bổng tiếp theo.</p>
                <p style="text-align: justify;"><strong>Chặng 4: Nộp hồ sơ học bổng</strong></p>
                <p style="text-align: justify;">Tùy vào yêu cầu của trường và khóa bạn theo học mà bạn sẽ được yêu cầu viết một bài luận để thể hiện cá tính bản thân và lý do bạn muốn nhận học bổng nhập học.</p>
                <p style="text-align: justify;"><strong>Chặng 5: Nộp đơn xin visa du học sinh</strong></p>
                <p style="text-align: justify;">Khi bạn nhận được thư nhập học của trường thì cũng là lúc bạn đã đến rất gần với cánh cửa du học. Bước tiếp theo là xin visa du học.</p>
                <p style="text-align: justify;"><strong>Chặng 6: Về đích</strong></p>
                <p style="text-align: justify;">Nhận được visa và sẵn sàng cất cánh thôi nào!!!</p>
                <h3 style="text-align: justify;"><span style="color: #e74c3c;"><strong>HỖ TRỢ SAU BAY</strong></span></h3>
                <p style="text-align: justify;">Đội ngũ VJ luôn sát cánh, đồng hành cùng các học viên từ những bước đi đầu tiên của chặng đường cho đến khi đã phát triển và ổn định bên nước bạn bằng cả tâm huyết và niềm say mê. Đúng như Slogan “Niềm tin mang theo” của chúng tôi.</p>
                <h2 style="text-align: justify;"><span style="color: #2980b9;"><strong>CÁC THÀNH TỰU NỔI BẬT</strong></span></h2>
                <p style="text-align: justify;">Với phương châm “Chuyên nghiệp &#8211; Chủ động &#8211; Tận tâm &#8211; Thấu hiểu” VJ luôn mang lại cho khách hàng những sản phẩm, dịch vụ chuyên nghiệp, thấu hiểu mọi khó khăn của khách hàng.</p>
                <p style="text-align: justify;">️🥇Cúp vàng vinh danh “Thương hiệu tin cậy – Sản phẩm chất lượng và Dịch vụ tận tâm”</p>
                <p style="text-align: justify;">️🥇Top 50 thương hiệu uy tín nhất năm 2018.</p>
                <p style="text-align: justify;">️🥇Công ty được vinh danh trên VTC2</p>
                <p style="text-align: justify;">️🥇Công ty được vinh danh năm 2018 lên truyền hình thương hiệu tiêu biểu</p>
                <p style="text-align: justify;"><strong>Nếu bạn đang có nhu cầu hoặc cần thêm thông tin về du học Nhật Bản và Hàn Quốc, hãy liên hệ ngay với VJ VIETNAM để được tư vấn và hỗ trợ những thông tin mới nhất và chính xác nhất.</strong></p>
                <p style="text-align: justify;"><span style="color: #2980b9;"><strong>CÔNG TY CỔ PHẦN TƯ VẤN DU HỌC VÀ THƯƠNG MẠI VJ </strong></span></p>
                <p style="text-align: justify;"><strong>Địa chỉ: </strong>T4-BT1-L4 Khu đô thị Intracom1, P. Trung Văn, Q. Nam Từ Liêm, TP. Hà Nội</p>
                <p style="text-align: justify;"><strong>Trung tâm đào tạo:</strong> T19-BT1-L4 Khu đô thị Intracom1, P. Trung Văn, Q. Nam Từ Liêm, TP. Hà Nội</p>
                <p><strong>Chi nhánh HCM:</strong> Số 43 đường Tiền Lân 14, Bà Điểm, Hooc Môn, TP HCM</p>
                <p style="text-align: justify;"><strong>Phone:</strong> 092.405.2222</p>
                <p style="text-align: justify;"><strong>Mail: </strong>vjvietnam2@gmail.com</p>
                <p style="text-align: justify;"><strong>Website:</strong> http://vjvietnam.com.vn/ &#8211; <strong>Facebook:</strong> https://www.facebook.com/Cong.Ty.VJ</p>
            </div>
        </div>
    </div>
</div>
<div class="pagebox dt">
    <div class="container">
        <div class="col_dt">
            <h3 class="taxo_title"><span>CÁC TRƯỜNG LIÊN KẾT</span></h3>
            <div class="box_dt">
                <div class="owl-carousel dt_owl">
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100126161371aadf199b.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100127261371ab8d4a40.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100128161371ac1f17f2.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100131361371ae10a4c9.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100129361371acd0ceae.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100132661371aeec4178.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100133861371afa5bcb0.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100134861371b04f0bce.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100136061371b10edf40.png">
                    </div>
                    <div class="item">
                        <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/slider-163100137061371b1aec239.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>