<div class="contact_page">
    <div class="container ">
        <div class="col_contact">
            <h1 class="page-title hidden">Liên hệ</h1>
            <div class="entry_content">

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="ft_title">Trụ sở chính</h3>
                        <h3 class="ft_title_ct"><span class="fa fa-th"></span> CÔNG TY CỔ PHẦN TƯ VẤN DU HỌC VÀ THƯƠNG MẠI VJ</h3>
                        <div class="ft_infos">
                            <ul class="ft_list">
                                <li>Địa chỉ : Nhà T4-BT1-L4, Đường Trung Văn Phường Trung Văn, Quận Nam Từ Liêm, Thành phố Hà Nội</li>
                                <li>Điện thoại : <a href="tel:092.405.2222">092.405.2222</a></li>
                                <li>Hotline : <a href="tel:092.405.2222">092.405.2222</a></li>
                                <li>Facebook : <a href="https://www.facebook.com/Cong.Ty.VJ/">https://www.facebook.com/Cong.Ty.VJ/</a></li>
                                <li>Youtube : <a href="https://www.youtube.com/channel/UCj4j_q3VESYORPwvXVSnVeA">https://www.youtube.com/channel/UCj4j_q3VESYORPwvXVSnVeA</a></li>
                            </ul>
                        </div>
                        <div class="box_map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.0745264714296!2d105.78268531533173!3d20.989649494487313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acb7941323f7%3A0xd1c51b452b7c081e!2zVHJ1bmcgVsSDbiwgTmFtIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1633775158018!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact_form qcol form_info_customer">
                            <h3 class="ft_title">Liên hệ với chúng tôi</h3>
                            <div role="form" class="wpcf7" id="wpcf7-f4-p52-o1" lang="vi" dir="ltr">
                                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                <form action="/lien-he/#wpcf7-f4-p52-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="4" />
                                        <input type="hidden" name="_wpcf7_version" value="5.5.6" />
                                        <input type="hidden" name="_wpcf7_locale" value="vi" />
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p52-o1" />
                                        <input type="hidden" name="_wpcf7_container_post" value="52" />
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                    </div>
                                    <p>
                                        <label>Họ tên</label><br />
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" /></span>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6" style="margin-bottom:20px;">
                                            <label>Email</label><br />
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" /></span>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom:20px;">
                                            <label>SĐT</label><br />
                                            <span class="wpcf7-form-control-wrap your-tel"><input type="tel" name="your-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" /></span>
                                        </div>
                                    </div>
                                    <p>
                                        <label>Tiêu đề</label><br />
                                        <span class="wpcf7-form-control-wrap your-company"><input type="text" name="your-company" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" /></span>
                                    </p>
                                    <p>
                                        <label>Lời nhắn</label><br />
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false"></textarea></span>
                                    </p>
                                    <p class="submit_ct"><span class="fa fa-envelope"></span><input type="submit" value="Gửi thông tin" class="wpcf7-form-control has-spinner wpcf7-submit send_form" /></p>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>